{% extends '../layout.html' %}

{% block content %}

  <div id="calendar">
    
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/template" id="week-template">
    <div class="week" data-week="{{Week}}">
    {{#Days}}
      <div class="day">
      <span class="day-num">{{Num}}</span>
      </div>
    {{/Days}}
    </div>
  </script>
  <script>
  	var app= {
      userId: '{= userId =}'
    };
  	app.models = {};
  </script>
  <script src="javascripts/calendar.js"></script>
{% endblock %}
