{% extends '../layout.html' %}

{% block content %}
<div id="actions">
  <button class="fa fa-plus btn-circle"></button>
</div>
<div class="calendar-wrapper">
  <div id="calendar">
    <div class="cal-header">
      <div class="cal-month"></div>
      <div class="cal-week-header">
        <div class="day">Sunday</div>
        <div class="day">Monday</div>
        <div class="day">Tuesday</div>
        <div class="day">Wednesday</div>
        <div class="day">Thursday</div>
        <div class="day">Friday</div>
        <div class="day">Saturday</div>
      </div>
    </div>
    <div class="cal-body">
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/template" id="week-template">
    <div class="week" data-week="{{Week}}" data-week-month="{{Month}}">
    {{#Days}}
      <div class="day {{#IsToday}}today{{/IsToday}}" data-day-month="{{Month}}">
      <span class="day-num">{{Num}}</span>
      </div>
    {{/Days}}
    </div>
  </script>
  <script>
  	var app= {
      userId: '{= userId =}'
    };
  	app.models = {};
  </script>
  <script src="javascripts/calendar.js"></script>
  <script src="javascripts/sidebar.js"></script>
{% endblock %}
