{% extends 'layout.html' %}

{% block title %}My Page{% endblock %}

{# commenting out this head part - although I think it's useful

{% block head %}
  {% parent %}
  <link rel="stylesheet" href="custom.css">
{% endblock %}

#}

{% block content %}
<p>This is just an awesome page.
<br />
TestValue: {= test =}
</p>

<form method="post" action="/auth/facebook"><button type="submit">Sign in with Facebook</button></form>
<form method="post" action="/auth/google"><button type="submit">Sign in with Google</button></form>
{% endblock %}